@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}
 


/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}


.fondotrailers{
	background-image:url(../images/fondo.png); background-repeat:repeat; 
	
	}

/*Formulario de contacto*/


body {
  font: 16px Helvetica;
  background: #1abc9c;
  
}



.message, .contact, .name, .footer,  footer, textarea {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
  overflow: hidden;
}

header, footer {
	height:auto; 
  background: rgba(0, 0, 0, 0.05);
  padding:5px;
  border-radius: 5px 5px 0 0;
}
header h1, footer h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.4);
}

.first, .last {
  float: left;
  width: 278px;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
}

.last {
  width: 279px;
  border-left: 0;
}

.email, textarea {
  height: 50px;
  width: 578px;
  line-height: 50px;
  padding: 0 0 0 20px;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

textarea {
  height: 200px;
}

footer {
  height: 49px;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  padding-left: 0;
  padding-right: 20px;
}
footer button {
  height: 32px;
  background: #e74c3c;
  border-radius: 5px;
  border: 0;
  margin: 7px 0;
  color: white;
  float: right;
  padding: 0 20px 0 20px;
  border-bottom: 3px solid #c0392b;
  transition: all linear .2s;
}
footer button:hover {
  background: #c0392b;
}
footer button:focus {
  outline: none;
}
 
.first:focus, .last:focus, .email:focus, textarea:focus, textarea:focus {
  outline: none;
  background: rgba(52, 152, 219, 0.1);
  color: rgba(51, 51, 51, 0.7);
}


/*FIN Formulario de contacto*/

.azul{
	color:#00609f;  
	}

.rojo{
	color:#d9002e;
	
	}
.gris{
	color:#979797;

	
	}	
	
.despegarizq{
	margin-left:35px;
	
	}	
	
.redondear {
-moz-border-radius: 20px; /* Firefox */
-webkit-border-radius: 20px; /* Google Chrome y Safari */
border-radius: 20px; /* CSS3 (Opera 10.5 e Internet Explorer 9) */
}	
	
	
/* Mobile Layout: 480px and below. */
  
  .contenedorazul{
	width:43%;
	background-color:hsla(205,99%,32%,1.00);
	margin:5px;
	text-align:center;
	padding:5px;
	}
	
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
#div1 {
width: 100%;
}

a.primerapantalla:link,a.primerapantalla:visited { font-size: 15px}
 
a.menupantallas:link,a.menupantallas:visited { font-size: 10px}

.titresponsive{
	font-size:20px
	}

.container {
  width: 92%;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}


.menuinicio {
	text-align:center;
	position:relative;
	width:180px;
	left:0;
}

.menu {
	width:85%;
}
.tamatitulos{font-size:32px;

margin-top:20px;
	}

.logo {
	width:100%;
} 
.btnmenu {
	text-align: center;
	float:left;
	width:80px;
	min-height:16px;
	list-style:none;
	padding:5px 15px;
	background-image:url(../images/fondobtn.png);
	background-size:100% 100%;
	background-position:left;	
	background-repeat:no-repeat;
	

}
.fomulario {
}
.menucatalogo {
	width:70%;
	margin-left:12%;
	padding:10px;
	background-color:#BFBFBF;

}
.botoncatalogo {
	width:90%;
	margin:5px;
	color:#FFFFFF; 
	background-color:#00609f;
	text-align:center;
	
	padding:10px
}
.menuinferiorcat {
color:#FFFFFF;
position: fixed;
bottom: 0;
width:100%;
height:60px;
background-color:#00609f;
}
.div3000r {
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}

/*menu inf cat*/

ul.infcat {
	font-size:8px;
  list-style: none;
  margin: 0;
  padding: 10px 0px 0px 0px; 
  overflow: hidden;
}
ul.infcat li {
	padding-top:10px;
	font-size:10px;
  float: left ;
}
ul.infcat li a {
	font-size:8px;
  border-right: 2px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  padding: .4em;
  text-decoration: none;
}

.infcatactivo a:link {
	font-size:8px;
	color:#FFFFFF;
	background-color:#d9002e
	}
	.infcatactivo a:hover {
		font-size:8px;
	color:#FFFFFF;
	background-color:#d9002e
	}
	.infcatactivo a:visited {
		font-size:8px;
	color:#FFFFFF;
	background-color:#d9002e
	}
	.infcatactivo a:active {
		font-size:8px;
color:#FFFFFF;
	background-color:#d9002e;
	
	}

	
/* fin menu inf cat*/	

.largologo{
	max-width:50px;	
	
	}



/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.contenedorazul{
	width:30%;
	background-color:hsla(205,99%,32%,1.00);
	margin:5px;
	text-align:center;
	padding:5px;
	
	
	}
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}

a.primerapantalla:link,a.primerapantalla:visited { font-size: 25px}

a.menupantallas:link,a.menupantallas:visited { font-size: 21px}
.titresponsive{
	font-size:30px
	}

.container {
  width: 80%;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}



#div1 {
width: 100%;
margin-top:10%
}
.menuinicio {
	position:relative;
	width:350px;
	left:45%;
	margin-left:-230px;
	margin-top:50px;
}

.menu {
	width:85%;
			
}
.tamatitulos{font-size:52px;
padding-bottom:15px;
margin-bottom:15px;
	}
.logo {
	width:100%;
	margin-top:40px;
}
.btnmenu {
	text-align: center;

	float:left;
	width:102px;
	height:30px;
	list-style:none;
	padding:15px 30px;
	background-image:url(../images/fondobtn.png);
	background-size:100% 100%;
	background-position:left;	
	background-repeat:no-repeat;
	

}
.fomulario {
}
.menucatalogo {
	width:90%;
	margin-left:5%;
	padding:10px;
	background-color:#BFBFBF;

}
.botoncatalogo {
	width:45%;
	color:#FFFFFF;
	background-color:#00609f;
	float:left;
	padding:10px;
	text-align:center;
}
.menuinferiorcat {
color:#FFFFFF;
position: fixed;
bottom: 0;
width:100%;
height:90px;
background-color:#00609f;
}
.div3000r {
	background-color:#FFFFFF;
	padding:10px;
	width:100%;
	
	margin-top:5%;
	
} 
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}


/*menu inf cat*/

ul.infcat {
	font-size:15px;
  list-style: none;
  margin: 0;
  padding: 10px 0px 0px 0px; 
  overflow: hidden;
}
ul.infcat li {
	padding-top:20px;
	font-size:15px;
  float: left ;
}
ul.infcat li a {
	font-size:15px;
  border-right: 2px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  padding: .4em;
  text-decoration: none;
}

.infcatactivo a:link {
	font-size:15px;
	color:#FFFFFF;
	background-color:#d9002e
	}
	.infcatactivo a:hover {
		font-size:15px;
	color:#FFFFFF;
	background-color:#d9002e
	}
	.infcatactivo a:visited {
		font-size:15px;
	color:#FFFFFF;
	background-color:#d9002e
	}
	.infcatactivo a:active {
		font-size:15px;
color:#FFFFFF;
	background-color:#d9002e;
	
	}

	 
/* fin menu inf cat*/	


.largologo{
	max-width:100px;	
	
	}


}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width : 784px ){
.contenedorazul{
	width:30%;
	background-color:hsla(205,99%,32%,1.00);
	margin:5px;
	text-align:center;
	padding:5px;
	
	
	}
.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}

a.primerapantalla:link,a.primerapantalla:visited { font-size: 25px}
 
a.menupantallas:link,a.menupantallas:visited { font-size: 22px}
.titresponsive{
	font-size:30px
	}


#div1 {
width: 70%;
margin-left:15%

}

.container {
  width: 80%;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}


.menuinicio {
	position:relative;
	width:350px;
	left:50%;
	margin-left:-200px;
}



.menu {
	width:100%;
			
}
.tamatitulos{font-size:52px;
margin-bottom:15px;
	}
.logo {
	width:100%;
}
.btnmenu {
	text-align: center;
	float:left;
	width:120px;
	height:30px;
	list-style:none;
	padding:10px 30px;
	background-image:url(../images/fondobtn.png);
	background-size:100% 100%;
	background-position:left;	
	background-repeat:no-repeat;
	

}
.fomulario {
}
.menucatalogo {
	width:80%;
	margin-left:20%;
	padding:10px;
	background-color:#BFBFBF;
	text-align:center;

}
.botoncatalogo {
	width:44%;
	color:#FFFFFF;
	text-align:center;
	background-color:#00609f;
	float:left;
	padding:10px
}
.menuinferiorcat {
color:#FFFFFF;
position: fixed;
bottom: 0;
width:100%;
height:90px;
background-color:#00609f;
}
.div3000r {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}


/*menu inf cat*/

ul.infcat {
	font-size:15px;
  list-style: none;
  margin: 0;
  padding: 10px 0px 0px 0px; 
  overflow: hidden;
}
ul.infcat li {
	padding-top:20px;
	font-size:15px;
  float: left ;
}
ul.infcat li a {
	font-size:15px;
  border-right: 2px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  padding: .4em;
  text-decoration: none;
}

.infcatactivo a:link {
	font-size:15px;
	color:#FFFFFF;
	background-color:#d9002e
	}
	.infcatactivo a:hover {
		font-size:15px;
	color:#FFFFFF;
	background-color:#d9002e
	}
	.infcatactivo a:visited {
		font-size:15px;
	color:#FFFFFF;
	background-color:#d9002e
	}
	.infcatactivo a:active {
		font-size:15px;
color:#FFFFFF;
	background-color:#d9002e;
	
	}

	
/* fin menu inf cat*/	

.largologo{
	width:150;
	
	}

} 
